VITE_SUPABASE_PROJECT_ID="kokmmnkbxhotzgsmxgbv"
VITE_SUPABASE_PUBLISHABLE_KEY="<YOUR_SUPABASE_PUBLISHABLE_KEY>"
VITE_SUPABASE_URL="https://kokmmnkbxhotzgsmxgbv.supabase.co"
RESEND_API_KEY="<YOUR_RESEND_API_KEY>"
